################################################################################
###-----------------              TAP V2 ONLY               -----------------###
################################################################################
#
################################################################################
###-----------------              Bed Corners               -----------------###
################################################################################
#  BL:  X1: -1,  Y1: -10
#  TL:  X1: -1,  Y2: 294
#  TR:  X2: 303, Y2: 294
#  BR:  X2: 303, Y1: -1-
################################################################################
###-----------------        TAP V2 Printing LImits          -----------------###
################################################################################
## 299mm x 290 mm
#  BL:  X1: 0,  Y1: 5
#  TL:  X1: 0,  Y2: 293
#    Y_LIMIT: Contact with Brush
#  TR:  X2: 303, Y2: 293  
#  BR:  X2: 303, Y1: 5
#    Y_LIMIT: Contact with Doors
################################################################################
###-----------------   How To Determine Probe Locations     -----------------###
################################################################################
#  #  (-25, -25)
# X1: Bedcorner_BL_X + X_needed= X1
#   X1: (-1) + 25 = 24 
# Y1: Bedcorner_BL_Y + Y_needed = Y1
#   Y1: (-10) + 25 = 15 
# X2: bedcorner_TR_X - X_needed = X2
#   X2: 303 - 25 = 278 
# Y2 bedcorner_TR_Y - Y_needed = Y2
#   Y2: 294 - 25 = 269
################################################################################

[probe]
pin: ^EBBCan:gpio22
x_offset: 0
y_offset: 0
#z_offset: 0.00
speed: 5.0
samples: 2      # Number of times to probe a point
# How far to retract (in mm) from the probe point for multi-probe samples
sample_retract_dist: 6.0
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[safe_z_home]
home_xy_position: 152, 142
speed: 75
z_hop: 5 
z_hop_speed: 15
move_to_previous: false

[quad_gantry_level]
#	Use QUAD_GANTRY_LEVEL to level a gantry.
#	Min & Max gantry corners - measure from nozzle at MIN (0,0)
speed: 300
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 5
#
gantry_corners:
	-60,-10
	360,370
#

## TAPV2 ONLY:
#points:  
##(-20, -20)
#   19,10
#   19,275
#   283,275
#   283,10

## TAPV2 + Eddy Duo
#(-25, -25)
points:
    24,15
    24,269
	278,269
	278,15

[bed_mesh]
speed: 200
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.

## WITHOUT EDDY ATTACHED
#mesh_min: 20, 10
## WITH EDDY ATTACHED
mesh_min: 24,15

#   Defines the minimum X, Y coordinate of the mesh for rectangular
#   beds. This coordinate is relative to the probe's location. This
#   will be the first point probed, nearest to the origin. This
#   parameter must be provided for rectangular beds.

## WITHOUT EDDY ATTACHED
#mesh_max: 283, 275 
## WITH EDDY ATTACHED
mesh_max: 278,269 

#   Defines the maximum X, Y coordinate of the mesh for rectangular
#   beds. Adheres to the same principle as mesh_min, however this will
#   be the furthest point probed from the bed's origin. This parameter
#   must be provided for rectangular beds.
probe_count: 6, 6
#   For rectangular beds, this is a comma separate pair of integer
#   values X, Y defining the number of points to probe along each
#   axis. A single value is also valid, in which case that value will
#   be applied to both axes. Default is 3, 3.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will trigger
#   a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4, 4
#   A comma separated pair of integers X, Y defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2, 2.
#algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange" or
#   "bicubic". This option will not affect 3x3 grids, which are forced
#   to use lagrange sampling. Default is lagrange.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above may
#   be applied to change the amount of slope interpolated. Larger
#   numbers will increase the amount of slope, which results in more
#   curvature in the mesh. Default is .2.
zero_reference_position: 152, 142
#   An optional X,Y coordinate that specifies the location on the bed
#   where Z = 0.  When this option is specified the mesh will be offset
#   so that zero Z adjustment occurs at this location.  The default is
#   no zero reference.
#faulty_region_1_min:
#faulty_region_1_max:
#   Optional points that define a faulty region.  See docs/Bed_Mesh.md
#   for details on faulty regions.  Up to 99 faulty regions may be added.
#   By default no faulty regions are set.
adaptive_margin: 5
#   An optional margin (in mm) to be added around the bed area used by
#   the defined print objects when generating an adaptive mesh.

[axis_twist_compensation]
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.

## WITHOUT EDDY ATTACHED
#calibrate_start_x: 20
## WITH EDDY ATTACHED
calibrate_start_x: 24

#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position. This parameter must be provided.

## WITHOUT EDDY ATTACHED
#calibrate_end_x: 281.5
## WITH EDDY ATTACHED
calibrate_end_x: 278

#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position. This parameter must be provided.
calibrate_y: 142
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter must be provided and is recommended to
#   be near the center of the bed
  
[exclude_object]

################################################################################
##----------------- Eddy Duo Device (Just For Temp Readings) -----------------##
################################################################################
[mcu eddy]
##serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340310D68A1C-if00 
canbus_uuid: 21c888bd553a

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 120 # Sets the maximum tempereature for eddys tempereature sensor to operate

# This section is only relevant for Eddy USB. Comment it out for Eddy Coil.
[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 5